.admincategory{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}
.addCategory{
    box-shadow: 3px 3px 20px black;
    padding: 20px 30px;
    width: 60%;
    border-radius: 10px;
}
.addCategory>h2{
    color: var(--yellow);
    font-size: 20px;
    font-weight: 500;
}
.addCategory>form{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
#message{
    display: none;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    width: 50%;
    gap: 20px;
    border-radius: 10px;
    margin-left: 50px;
    background-color: var(--baseColor);
}
.addCategory>div>i{
    color: var(--white);
    font-size: 18px;
    cursor: pointer;
}
.addCategory>form>div:nth-of-type(3){
    align-self: flex-end;
}
.add-category-btn{
    padding: 10px 20px;
    font-size: 15px;
    text-transform: capitalize;

}

.allCategories{
    margin: 20px 0;
}
.allCategories>div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    row-gap: 20px;
}
.allCategories>div>:nth-of-type(1){
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.allCategories>div>:nth-of-type(1)>img{
    height: 50px;
    width: 50px;
    object-fit: cover;
}