.footer-top{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 60px 0px;
    width: 100%;
    z-index: 0;
}
.footer-top>div{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.footer-top>div>h3{
    font-size: 18px;
    color: var(--yellow);
    font-weight: 500;
    text-transform: uppercase;
}
.footer-top>div>.footer-menu{
    display: flex;
    flex-direction: column;
}
.footer-menu>li{
    font-family: var(--paraFont);
    cursor: pointer;
    padding: 3px 0;
    font-size: 14px;
    text-transform: capitalize;
}
.footer-bootom{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
    background-color: var(--lightBlack);
    width: 100%;
    padding: 20px 0;
}
.footer-bootom>div>i{
    color: var(--white);
    margin: 0 15px;
    font-size: 16px;
    cursor: pointer;
    transition: 1s ease;
}
.footer-bootom>div>i:hover{
    color: var(--yellow);
}
.footer-bootom>div>h2{
    text-transform: uppercase;
    font-size: 16px;
    color: var(--yellow);
    font-weight: 400;
    cursor: context-menu;
}
.footer-bootom>div>p{
    color: rgb(143, 143, 143);
    font-size: 14px;
    text-transform: capitalize;
    cursor: context-menu;
}
@media screen and (max-width:768px) {
    .footer-top{
        justify-content: center;
        flex-wrap: wrap;
        padding: 60px 0px;
        gap: 40px;
    }
    .footer-top>div:nth-of-type(3){
        margin-left: -60px;
    }
    .footer-top>div>h3{
        font-size: 15px;
    }
    .footer-menu>li{
        font-size: 12px;
    }
    .footer-bootom{
        flex-direction: column;
        gap: 10px;
    }
    .footer-bootom>div>h2{
        font-size: 18px;
    }
}
